.container {
	width: 1080px;
	margin: 0 auto;
}
.wrapper {
	margin-top: 20px;
}
.headline {
	text-align: center;
}
.insert-text {
	display: flex;
	position: relative;
	margin-top: 50px;
	background: lightcyan;
	form, input {
		width: 100%;
		height: 40px;
		margin: 0;
	}
	input {
		padding: 0 30px;
	}
}
.todo-list {
	margin-top: 20px;
	min-height: 300px;
	width: 100%;
	background: lightgreen;
	.inner-todo {
		width: 80%;
		margin: 0 auto;
		margin-top: 20px;

	}
}
.show-field {
	display: flex;
	justify-content: space-around;
	max-width: 100%;
	width: 100%;
	padding-top: 20px;
	button {
		order: 2;
	}
	p {
		margin: 0;
	}
}
.throught {
	text-decoration: line-through ;
	 text-decoration-color: red;
	  text-decoration-style: wavy;

}